html,body{
	height:100%;
	background-color  :#262626;
	margin : 0;
	font:600 16px/18px 'Open Sans',sans-serif;
	overflow : hidden;
}

h1,p{
	color:white;
	padding :0 20px 0 20px;
}

h1{
	font-size:20px;
	text-align: center;
}

header {
	min-height: 100%;
	width: 100%;
	height: 100%; /* NEW */
}

#invitations-number p{
	right : 1%;
	top:1%;
}

#invitations p{
	right : 2%;
	top:2%;
}


.notification-icon p{
	position : absolute;
	z-index : 500;
	color : red;
	background : #262626;
	padding : 15px 15px 10px 15px;
	border-radius: 50%;
	border : 1px solid;
	border-color : white;
}

.notification-icon p:hover, .menu-icon p:hover{
	background : #1161ee;
}

.notification-icon p, .menu-icon p{
	transition : 0.6s;
}

#log-out p {
	right : 2%;
	bottom : 2%;
}

#group p {
	right : 2%;
	bottom : 12%;
}
.menu-icon p{
	position : absolute;
	z-index : 500;
	color : red;
	background : #262626;
	padding : 15px 15px 10px 15px;
	border-radius: 50%;
	border : 1px solid;
	border-color : white;
}

.notification-number p{
	position : absolute;
	z-index : 1000;
	color : white;
	background : red;
	padding : 10px 10px 10px 10px;
	width : 17.5px;
	text-align : center;
	border-radius: 50%;
}

.notification-icon img, .menu-icon img{
	max-width : 40px;
}


#mapid { 
	display : block;
	width: 1080px;
	min-width : 70%;
    min-height : 100%;
}




#nav{
	min-width : 30%;
	border : 3px solid;
	border-color :#1161ee;
	border-top : none;
	border-bottom : none;
	border-left : none;
}

.mainContainer {
	display: flex;
	flex-direction : row;
	justify-content: space-around;
	margin:0;
	height: inherit;

}

.mainItemContainer{
	flex-grow : 1;
	display : flex;
	flex-direction: column;
}

.mainItemColumn{
	display : flex;
	flex-direction: column;
}

.content-wrapper {
	display: flex;
	flex: 1;
	min-height: 0px; /* IMPORTANT: you need this for non-chrome browsers */
  }

.fixedItemContainer{
	height : inherit;
	padding : 20px;
	background-color :#141414a1;
	box-shadow: black;
}

.overflowContainer{
	flex : 1;
	overflow-y : auto !important;
	overflow-x : hidden;
	-ms-overflow-style: none;
}

/* Cacher le scrollbar pour Chrome, Safari et Opera */
.overflowContainer::-webkit-scrollbar{
	display:none;
}

/*Cacher le scrollbar pour IE et Edge */

#mapForm input{
	width : 100%;
	margin : 1em;
}

#eventTitle{
	font-size:20px;
	text-align: center;
	color : white;
}

#eventCover{
	width : 100%;
	max-width : 800px;
}

.dropdownEventSelect{
	width : 100%;
}

.custom-popup img { 
	display: block;
    margin-left: auto;
    margin-right: auto;
	height : 200px;
	width : 200px;
	object-fit: cover;
	border-radius: 50%;
	overflow : hidden;
}

.custom-popup h4, h2{
	text-align: center;
	color : white;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background-color: #262626;
}


.searchEngineForm legend{
	color : white;
}

.searchEngineForm label {
    color:#aaa;
    font-size: 12px;
}



.searchEngineForm legend{
	border : 2px solid transparent;
	width : 100%;
	border-color : #1161ee;
	border-top : none;
	border-left : none;
	border-right : none;
	padding-bottom : 10px;
	margin-bottom : 20px;
	text-align: center;
}

.searchEngineForm select{
	margin-bottom: 20px;
    border-radius: 25px;
    width: 100%;
    padding: 7.5px 10px 7.5px 10px;
    background: rgba(255,255,255,.1);
	border: none;
	outline : none;
	color : white;
	overflow : hidden;
	white-space: nowrap;
	transition : 0.6s;
}

.searchEngineForm select:focus{
	background : #1161ee;
}

.searchEngineForm select:hover{
	background : #0d3170;
}

.searchEngineForm option{
	background : #262626;
	font:100 14px/16px 'Open Sans',sans-serif;
	overflow: hidden;
}

.searchEngineForm input[type="checkbox"]{
	margin-right : 15%;
	margin-bottom : 20px;
}

.searchEngineForm #date{
	display:inline-block;
	float : right;
}

.searchEngineForm input[type="button"]{
	margin-top : 10px;
	display:block;
	margin-bottom: 10px;
    border-radius: 25px;
	width : inherit !important;
	padding: 7.5px 10px 7.5px 10px;
    background-color:  #1161ee;
	border: none;
	outline : none;
	color : white;
	float : right;
	transition: 0.6s;
}

.searchEngineForm input[type="button"]:hover{
	background-color:  #0d3170;
}

#eventLeadText{
	color : white !important;
	text-align: center;
}

#eventInformations p{
	color : #262626;
}

#tabs {
	background : transparent !important;
}

.nav-tabs {
	width:100%;
	overflow: hidden;
}
	
.nav-tabs li{
	list-style-type:none !important; 
	display:block !important;
	float:left !important;
	color:#fff !important;
	padding:8px !important;
	margin-right:2px !important;
	border-bottom:2px solid #2f2f2f !important;
	background-color:#262626 !important;
	-moz-border-radius: 4px 4px 0 0 !important;
	-webkit-border-radius: 4px 4px 0 0 !important;
	cursor:pointer;

}

.nav-tabs li a{
	outline:none !important;
	color : #ccc !important;
}

.ui-widget-content .tabs-content a{
	color : #1161ee!important;
	justify-content: left;
	font-size: 12px;
}


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
	border:none !important;
	background: #1161ee !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
	border:none !important;
}



.ui-widget-content{
	border : none !important;
	background : #262626 !important;
}



.ui-widget-content p{
	color : white !important;
}

.ui-widget-header{
	border : none !important;
}
.ui-widget-header{
	background :transparent !important;
}

.nav-tabs li:hover {
	background-color:#0d3170 !important;
}

.nav-tabs li.current {
	border-bottom:2px solid #1161ee!important;
	background-color:#1161ee !important;
	padding:8px !important;
}

.tabs-content{
	border-top:2px solid #1161ee !important;
	padding:8px !important;
	width:100% !important;
	text-align:justify !important;
}

input[type="date"]{
	background-color : #2f2f2f;
	border : none;
	border-radius: 25px;
	padding : 5px;
	transition : 0.6s;
	color : #fff;

}

input[type="date"]:hover{
	background: #0d3170;
}

input[type="date"]:focus{
	outline : none;
}

::-webkit-datetime-edit { 
	padding : 2.5px;
	border: none;
	outline : none;
	text-align: center;
	width : 100%;
	margin : 0;
 }

 ::-webkit-datetime-edit:focus, ::-webkit-datetime-edit{
	 outline : none;
 }
::-webkit-datetime-edit-text { color: white; width : 100%; }
::-webkit-datetime-edit-month-field { color: white; font-size : 15px;}
::-webkit-datetime-edit-day-field { color: white; }
::-webkit-datetime-edit-year-field { color: white; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { 
	display:block;
	background-color: transparent;
	border-radius: 50%;
	transition : 0.6s;
	color : white;
	width: 7.5px;
    height: 7.5px;
}
