body {
    background-color: #053448;
    font: 600 16px/18px 'Open Sans',sans-serif;
    color : white;
    text-align: left;
    overflow: hidden;

}

h1{
    text-align : center;
    margin : 10px;
    padding:  10px;
    font-size: 25px;
}

div.left{
    position: absolute;
    right : 0;
    top : 0;
    float : right;
    width : 500px;
}

div.center {
    position: absolute;
    top: 50%;
    left : 50%;
    transform: translate(-50%, -50%);
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.space-around {
    justify-content: space-around;
}

div.form {
    background: #262626;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    height : 100%;
    padding-top: 5%;
}

.input {
    margin-bottom: 20px;
    border-radius: 25px;
    width: 90%;
    padding: 15px 20px 15px 20px;
    background: rgba(255,255,255,.1);
    border: none;
}

.group-label-text {
    color:#aaa;
    font-size: 12px;
}

div.form h1 {
    border-bottom: 2px solid transparent;
    padding: 10px;
    margin-bottom: 2em;
    border-color: #1161ee;
    
    /*#053448*/
}

.bouton {
    background-color : #1161ee;
    color : white;
    font: 600 16px/18px 'Open Sans',sans-serif;
    text-transform: none;
    transition: 0.6s;
}

.bouton:hover {
    background-color : #0d3170;
}

.semi-bouton {
 width: 40%;
 outline : none;
}

.input-text {
    font-size: 20px;
    color:white;
}

.not-disabled:focus {
    background-color: #1161ee;
}



.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}

#invite {
    color: #6E7473;
    border-radius: 2px;
}

.disabled{
    color: #6E7473;
    border-radius: 2px;
}
 img {
     width: 50px;
     height: auto;
 }
 


 #background-img{
    position: fixed; 
    object-fit: cover;
	min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    opacity : 0.1;
    -webkit-filter: blur(3px);
    right : 200px;
 }

 input[type="text"], input[type="submit"]{
    width : 100%;
    text-align : center;
    outline : none;
    transition : 0.6s;
 }

 .not-disabled:hover, input[type="submit"]:hover{
    background-color: #0d3170;
 }

 .notification-icon p{
	position : absolute;
	left : 2%;
	top:2%;
	z-index : 500;
	color : red;
	background : #262626;
	border-radius: 50%;
	border : 0px solid;
    border-color : #262626;
}


.notification-icon img{
    max-width : 90px;
    transition : 0.6s;
}

.notification-icon img:hover{
    background : #1161ee;
    border-radius: 50%;
}

.icon { 
    position: absolute; 
    padding: 10px; 
    min-width: 40px;
    margin-top: 25px;
    margin-left: 15;
    opacity: 0.1;
} 

