html,body{
	height:100%;
	margin : 0;
    font:600 16px/18px 'Open Sans',sans-serif;
}


html{
    background-color  : #161616;
}

body::-webkit-scrollbar{
	display:none;
}
body{
    margin : 0 !important;
}

header{
    position : fixed;
    height : 80px;
    top : 0;
    width : 100%;
    background-color : #262626;
    border : 2px solid;
    border-color : #1161ee;
    border-top : none;
    border-left : none;
    border-right : none;
}

h1{
    color : white;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px;
    text-align: center;
   
}

p{
    color : white;
}

.content{
    margin : 120px;
}

.mainContainer{
    display: flex;
	flex-direction : row;
	justify-content: space-around;
	margin:0;
	height: inherit;
    flex-wrap: wrap;
}


.itemContainer{
    background-color : rgba(26,26,26,0.8);
    flex-grow : 1;
	display : flex;
    flex-direction: column;
    max-width : 60%;
    min-width : 500px;
    border : 2px solid;
    border-color : #1161ee;
    margin : 5px;
    margin-right : 10px;
    margin-left : 10px;
    padding : 1em;
    transition : 0.3s;
}

.itemContainer:hover{
    background-color : rgba(26,26,26,1);
    border-color : #5d99ff;
    box-shadow: 2px 2px 2px #1161ee;
}


.notification-icon p{
	position : absolute;
	left : 2%;
	top:2%;
	z-index : 500;
	color : red;
	background : #262626;
	border-radius: 50%;
	border : 0px solid;
    border-color : #262626;
}


.notification-icon img{
    max-width : 50px;
    transition : 0.6s;
}

.notification-icon img:hover{
    background : #1161ee;
    border-radius: 50%;
}

.icon { 
    position: absolute; 
    padding: 10px; 
    min-width: 40px;
    margin-top: 25px;
    margin-left: 15;
    opacity: 0.1;
} 

.background img{
    position : fixed;
    margin : 0;
    width : 100%;
    min-height : 100%;
    top : 0;
    z-index : -1000;
}

.title{
    position : absolute;
    margin-right:  auto;
    margin-left : auto;
    width : 100%;
    min-width : 500px;
}

.title h1{
    color: white;
    text-align :center;
    font-size: 30px;
}

input[type="button"]{
    margin-top : 10px;
	display:block;
	margin-bottom: 10px;
    border-radius: 25px;
	width : inherit !important;
	padding: 7.5px 20px 7.5px 20px;
    background-color:  #1161ee;
	border: none;
	outline : none;
	color : white;
	float : right;
	transition: 0.2s;
}

input[type="button"]:hover{
    background : #0d3170;
}