.swal-overlay {
    background-color: rgba(26, 26, 26, 0.30);
}

.swal-modal {
    background-color: #262626;
}

.swal-button{
    border : none;
    background-color : #1161ee;
}

.swal-button:focus{
    outline : none;
    box-shadow : none;
}

.swal-button:not([disabled]):hover {
    background-color: #0d3170;
}

.swal-title, .swal-text{
    color : white;
}

.swal-icon--success__hide-corners {
    background-color: #262626;
}
.swal-icon--success:after, .swal-icon--success:before{
    background-color: #262626;
}

.swal-button--cancel {
    color: #fff;
    background-color: #9e162f;
}

.swal-button--cancel:not([disabled]):hover {
    background-color: #6e0e20;
}
